<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Variable Page</title>
</head>
<body>
    <div id="clickCountText">0</div>
    <div id="clickCountText2">0</div>

    <script>

        function updateTextVariable() {
            let clickCount = localStorage.getItem('clickCount') || 0;
            document.getElementById('clickCountText').textContent = clickCount;
        }

        function updateTextVariable2() {
            let clickCount2 = localStorage.getItem('clickCount2') || 0;
            document.getElementById('clickCountText2').textContent = clickCount2;
        }
        
        updateTextVariable();
        setInterval(updateTextVariable, 5000);

        updateTextVariable2();
        setInterval(updateTextVariable, 5000);
    </script>
</body>
</html>
